@using System.Globalization;
@{
    var last12months = ViewData["last12months"] as List<DateItem>;
    var postDate = ViewData["postDate"] as List<DateItem>;
    bool breakout = false;
}

<div class="mb-4">
    <h3 class="text-success mb-2">
        12 tháng gần nhất và số lượng bài viết tương ứng
    </h3>

    <ul class="list-group">
        @foreach (var date in last12months) {
            breakout = false;
            <li class="list-group-item text-primary">
                <a class="text-dark fw-bold text-decoration-none"
                    title="date"
                   style="text-decoration: none;"
               asp-controller="Blog"
               asp-action="Archives"
               asp-route-year="@date.Year"
               asp-route-month="@date.Month">
                    @CultureInfo.CurrentCulture.DateTimeFormat.GetMonthName(date.Month) - @date.Year
                    @foreach (var date2 in postDate) {
                        if (date2.Month == date.Month) {
                            <span class="text-muted fw-normal">(@date2.PostCount)</span>
                            breakout = true;
                        }
                    }
                    @if (!breakout) {
                        <span class="text-muted fw-normal">(0)</span>
                    }
                </a>
            </li>
        }
    </ul>
</div>